.LinkWrapper {
	display: flex;
	flex-direction: column;
    color: #555;
    
    h3 {
        margin-bottom: 1rem;
    }
}

.LinkItem {
    margin-bottom: .5rem;

    span {
        display: block;
    }

    a {
        word-wrap: anywhere;
    }
}

.Info {
    margin-top: 1rem;
}