.PoolRoundWrapper {
    // margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 660px;

    @media screen and (max-width: 1000px) {
        min-height: 0;
        margin: 2rem 0;
    }
}