.CurrentTimeContainer {
    display: flex;
    flex-direction: column;
    color: #dd892f;
    text-align: center;
    margin-top: 1rem;

    span {
        display: block;
        text-transform: uppercase;
    }

    .Text {
        font-size: .8rem;
        font-weight: bold;
    }

    .Time {
        font-size: 3.3rem;
        font-weight: bold;
    }
}