.PoolItem {
    border: 1px solid #dd892f;
    min-width: 330px;
    // min-height: 250px;
    margin: .5rem;
    // min-height: 33%;
    position: relative;
    // background: rgba(0, 0, 54, .74);
    background: rgba(0, 0, 54, 0.87);
    height: 100%;

    // ???????????????
    height: max-content;
    // padding: .5rem 0;

    min-height: 170px;

    @media screen and (max-width: 1500px) {
        min-width: 280px;
    }

    .PoolType {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #dd892f;
        color: #000;
        font-size: 1.3rem;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        text-align: center;
        width: 50%;
        // margin-bottom: 1rem;
        padding: 3px 0;
    }

    .GamesWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(100% - 33px);
    }
}